createdAt: "2019-12-04T07:58:09.718Z"
updatedAt: "2019-12-04T07:58:26.218Z"
type: "SNIPPET_NOTE"
folder: "ef96c15a38578079db09"
title: ""
tags: []
description: ""
snippets: [
  {
    name: ""
    mode: null
    content: ""
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: true
